@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #111111;
}

@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "NeueMachina";
  src: url("../assets/fonts/NeueMachina-Ultrabold.otf");
  font-weight: 800;
  font-style: normal;
}
@layer components {
  .active-link {
    @apply bg-dark !text-white h-full w-[177px] flex items-center justify-center hover:!bg-dark hover:!text-white;
  }
  .hover-main {
    @apply relative overflow-hidden transition-all ease-in-out z-10 duration-300 hover:border hover:border-solid hover:border-dark hover:text-dark;
  }
}
.active-nav {
  box-shadow: 0px 10px 104px rgba(0, 0, 0, 0.25);
  /* @apply bg-dark text-white h-full w-[177px] flex items-center justify-center  font-['NeueMachina'] ease-in-out duration-300 transition; */
}

.btn10:hover {
  /* border: 1px solid #071982; */
  /* color: #000 !important; */
}
.btn10::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: white;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn10::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: black;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn10:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.btn10:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}
.react-tabs__tab,
.react-tabs__tab--selected {
  background: transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  font-size: 27px !important;
  font-weight: 800 !important;
  color: #cccccc !important;
  transition: all 0.3s ease-in-out;
}
.react-tabs__tab--selected {
  color: var(--primary) !important;
}
.react-tabs__tab:not(:nth-last-of-type(1)) {
  margin-right: 180px !important;
}
