@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "NeueMachina";
  src: url("../assets/fonts/NeueMachina-Ultrabold.otf");
  font-weight: 800;
  font-style: normal;
}
@layer components {
  .active-link {
    @apply bg-dark text-white h-full w-[177px] flex items-center justify-center  font-['NeueMachina'];
  }
}
