@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tomato";
  src: url("../assets/fonts/TomatoGrotesk-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "NeueMachina";
  src: url("../assets/fonts/NeueMachina-Ultrabold.otf");
  font-weight: 800;
  font-style: normal;
}
@layer components {
  .active-link {
    @apply bg-dark text-white h-full w-[177px] flex items-center justify-center  font-['NeueMachina'] ease-in-out duration-300 transition;
  }
}
.active-nav {
  box-shadow: 0px 10px 104px rgba(0, 0, 0, 0.25);
  /* @apply bg-dark text-white h-full w-[177px] flex items-center justify-center  font-['NeueMachina'] ease-in-out duration-300 transition; */
}
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(
    to left,
    #db38b5,
    #01b3e3,
    #25ce7b,
    #fdc741,
    #ff6b01,
    #fc4236
  );
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(
    to left,
    #db38b5,
    #01b3e3,
    #25ce7b,
    #fdc741,
    #ff6b01,
    #fc4236
  );
  background-attachment: fixed;
}
